<h1>Index</h1>

<% @posts.each do |p| %>
  <div class="well">
    <h2><%= p.title %></h2>
    <p><%= p.body %></p>
    <%= link_to "Read more", post_path(p), :class => "btn btn-primary" %>
  </div>
<% end %>