<h1>Blog Post</h1>

<% if !@posts.any? %>
  <div class="well">
    No posts yet. Go ahead and create one
  </div>
<% end %>

<% @posts.each do |p| %>
  <div class="well">
    <h2><%= p.title %></h2>
    <p><%= p.body %></p>
    <%= link_to "Read more", post_path(p), :class => "btn btn-link" %>
  </div>
<% end %>
